<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml" lang="ca-valencia" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#" dir="ltr" >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Softcatalà" />
    <title>{{=response.title or request.application}}</title>
    <link href="{{=URL('static','css/style.css')}}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="http://www.softvalencia.org/imatges/favicon.ico" />
    <meta name="description" content="Informàtica i programari en valencià. Traductor català / valencià / castellà / francès / anglès / portuguès. Corrector de valencià." />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">

{{
# using sidebars need to know what sidebar you want to use
left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
middle_columns = {0:'span12',1:'span9',2:'span6'}[
(left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
}}
{{block head}}{{end}}
</head>
<body>
	<div id="wrapper">
		<div id="capcalera">
			<div class="sidebar_home">
      			<div class="logo_cap">
      				<a href="/"><img src="http://www.softvalencia.org/imatges/logo_sv.png" alt="Softvalencià" title="Softvalencià" /></a>
      			</div>
      		</div>
			<!--i menutop -->
			<div class="menutop">
				<div class="menutop1">
					<div class="menutop1_links">
						<h1>
							<a href="/preguntes-mes-frequents/">Preguntes més freqüents</a>  |     
							<a href="/contacte">Contacte</a> | 
							<a href="/collaboreu/">Col·laboreu amb nosaltres</a>
						</h1>
		  			</div>
		    	</div>  
		    	<div class="menutop2">
					<ul>
						<li><a href="/">Inici</a></li>    
						<li><a href="/traductor">Traductor</a></li>
						<li><a href="/corrector">Corrector</a></li>
						<li><a href="http://www.softcatala.org/forum" target="_blank">Fòrums d'ajuda</a></li>
					</ul>
		    	</div>
			</div>
		  <!--f menutop -->
    	</div>
    	<div id="pre_content">   
        	<div id="pre_content_esq">
          	<h3>Adaptador de la variant general del català a la variant valenciana</h3>
	          	<div>Introduïu el text que voleu adaptar a la variant valenciana en el camp de text de la dreta. Conforme escriviu, el text adaptat apareixerà en el quadre de sota.<br/><br/></div>
	          	
            <h3>Quant a aquest adaptador</h3>
				<div>Esta pàgina permet adaptar textos de la variant general del català a la variant valenciana. Per fer l'adaptació, s'utilitzen uns criteris basats en <a href="http://www.softvalencia.org/proposta/">aquesta proposta</a>, que compta amb el suport dels serveis lingüístics de les universitats valencianes i de l'AVL. Cal tindre en compte que inicialment està dissenyat per a frases curtes amb terminologia informàtica.</div>
          
			<div class="imatges_br">
				<a href="http://www.softcatala.org"><img src="http://www.softvalencia.org/wp-content/uploads/2010/03/sc-xic-e1269881754771.png"/></a>
				<a href="http://www.escolavalenciana.org"><img src="http://www.softvalencia.org/wp-content/uploads/2010/03/ev-xic1.png"/></a>
			</div>
			<br/>
        </div>
        
        <div id="pre_content_dreta">
	        {{block center}}
	            {{include}}
	        {{end}}
        </div>


  </div> <!-- /container -->
</body>
</html>
